name: demo_web
description: Anchor packages demo showcase for web
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  anchor_ui_example:
    path: ../anchor_ui/example
  flutter_anchor_example:
    path: ../flutter_anchor/example
  web: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
